{% load static %}
<script src="{% static 'js/color_matrix.js' %}"></script>
    <div>
        <span class="mobile-wrap">
            <h2 style="margin-bottom: 0.25rem;">Servers</h2>
            <div style="width: 1rem;"></div>
            <span style="margin: auto 0 0 auto;">
                {% include 'html_components/dropdown_select_button.html' with label='Auto-Discover' fa_icon='fa-wand-magic-sparkles' confirm=True redirect_url_confirmed='/auto_discover/' title='Performing Auto-Discover' message=message redirect_url_declined='/dashboard/' select=networks_select select_label='Select a Network' %}
            </span>
            <div style="width: 1rem;"></div>
            <span style="margin: auto 0 0 0;">
                {% include 'html_components/inline_button.html' with label='Server' fa_icon='fa-plus' href='/create/server/' %}
            </span>
            <div style="width: 1rem;"></div>
            <span style="margin: auto 0 0 0;">
                {% include 'html_components/inline_button.html' with label='Service' fa_icon='fa-plus' href='/create/service/' %}
            </span>
            <div style="width: 1rem;"></div>
            <span style="margin: auto 0 0 0;">
                {% include 'html_components/inline_button.html' with label='Schedule' fa_icon='fa-plus' href='/create/schedule' %}
            </span>
        </span>
    </div>
    {% if servers %}
        {% for server in servers %}
            <div class="tile" style="display: grid; margin-bottom: 1rem;" id="{{ server.name }}">
                <div>
                    <h3 style="display: flex;">
                        {{ server.name }}
                        {% if api_key %}
                            <div class="indicator-dot loading-dot" id="server_{{ server.id }}" style="font-weight: normal; font-size: initial;">
                                &nbsp;
                            </div>
                            <script>
                                check_online("/is_online/{{ api_key }}/0/{{ server.id }}/", "server_{{ server.id }}");
                            </script>
                        {% else %}
                            {% if server.is_online %}
                                <div class="indicator-dot success-dot">&nbsp;</div>
                            {% else %}
                                <div class="indicator-dot error-dot">&nbsp;</div>
                            {% endif %}
                        {% endif %}
                    </h3>
                    <div class="soft">
                        {% if server.note %}
                            {{ server.note }}
                        {% else %}
                            No server note defined.
                        {% endif %}
                    </div>
                    <div style="margin: 1rem auto .25rem auto;">IP Address: {{ server.ip_address }}</div>
                    <div style="margin-bottom: 1rem;">MAC Address: {{ server.mac_address }}</div>
                </div>
                <div>
                    <span style="display: flex;">
                        <div style="margin: auto 0 auto 0;">
                            {% if server.mac_address %}
                                {% with server_id=server.id|stringformat:'s' %}
                                    {% include 'html_components/inline_button.html' with label='Wake' fa_icon='fa-bolt' href='/wake/'|add:server_id %}
                                {% endwith %}
                            {% else %}
                                {% include 'html_components/inline_button.html' with label='Wake' fa_icon='fa-bolt' href='' %}
                            {% endif %}
                        </div>
                        <div class="spacer" style="width: 1rem;"></div>
                        <div style="margin: auto 0 auto 0;">
                            {% if server.shutdown_url.all %}
                                {% with server_id=server.id|stringformat:'s' %}
                                    {% include 'html_components/inline_button.html' with label='Shutdown' fa_icon='fa-power-off' href='/shutdown/'|add:server_id %}
                                {% endwith %}
                            {% else %}
                                {% include 'html_components/inline_button.html' with label='Shutdown' fa_icon='fa-power-off' href='' %}
                            {% endif %}
                        </div>
                        <div class="spacer" style="width: 1rem;"></div>
                        <div style="margin: auto 0 auto 0;">
                            {% with server_id=server.id|stringformat:'s' %}
                                {% include 'html_components/inline_button.html' with label='Edit' fa_icon='fa-pen-to-square' href='/edit/server/'|add:server_id %}
                            {% endwith %}
                        </div>
                    </span>
                </div>
                {% if server.uptime_statistic.all %}
                    {% with uptime_statistic=server.uptime_statistic.first %}
                        <div class="spacer"></div>
                        <div style="border-top: 1px solid #ccc;"></div>
                        <div class="spacer"></div>
                        <b>Uptime</b>
                        <div class="soft">
                            Last reset: {{ uptime_statistic.last_updated|date:"Y-m-d H:i:s" }}
                        </div>
                        <div class="soft">
                            <span data="{{ uptime_statistic.get_probability_matrix }}" onclick="navigator.clipboard.writeText(this.getAttribute('data')); this.querySelector('.copied-check').style.display='inline'; setTimeout(()=>{this.querySelector('.copied-check').style.display='none';},1200);">
                                <span class="tooltip">
                                    <i class="fas fa-circle-info" style="opacity: .5;"></i>
                                    <span class="tooltiptext">Copy the uptime matrix data<br>as string into the clipboard.</span>
                                </span>
                                <span style="text-decoration: underline; cursor: pointer; margin-left: .15rem;">Copy matrix data</span>
                                <span class="copied-check" style="display: none; color: green;">
                                    <i class="fas fa-check"></i>
                                </span>
                            </span>
                        </div>
                        {% if uptime_statistic.initialized %}
                            <div class="spacer" style="height: .5rem;"></div>
                            <div style="overflow-x: scroll;">
                                {% include 'html_components/uptime_statistic.html' with probability_matrix=uptime_statistic.get_probability_matrix %}
                                <div class="soft" style="width: 30rem;">
                                    Gray means offline, green means online: The color intensity indicates the percentage of the server being observed online at that hour. Hover for exact value.
                                </div>
                            </div>
                        {% else %}
                            <div class="soft">Uptime statistic is not initialized.</div>
                        {% endif %}
                    {% endwith %}
                {% endif %}
                {% if server.services.all %}
                    <div class="spacer"></div>
                    <div style="border-top: 1px solid #ccc;"></div>
                    <div class="spacer"></div>
                    <b>Services on this server</b>
                    <div>
                        {% if server.services.all %}
                            <div class="spacer" style="height: .5rem;"></div>
                            {% for service in server.services.all %}
                                <a href="/edit/service/{{ service.id }}" style="text-decoration: none; color: inherit;">
                                    <div>
                                        {% if service.icon_url %}
                                            <img src="{{ service.icon_url }}" style="width: 1rem; height: 1rem; margin-right: 0.5rem;">
                                        {% else %}
                                            <i class="fas fa-plug" style="width: 1rem; height: 1rem; margin-right: 0.5rem;"></i>
                                        {% endif %}
                                        {{ service.name }}
                                    </div>
                                    <div class="soft">
                                        {% if service.note %}
                                            {{ service.note }}
                                        {% else %}
                                            No note defined.
                                        {% endif %}
                                    </div>
                                </a>
                                <div class="spacer" style="height: .5rem;"></div>
                            {% endfor %}
                        {% else %}
                            <div class="soft">No services found.</div>
                        {% endif %}
                    </div>
                {% endif %}
                {% if server.wol_schedules.all %}
                    <div class="spacer"></div>
                    <div style="border-top: 1px solid #ccc;"></div>
                    <div class="spacer"></div>
                    <b>Schedules for this server</b>
                    <div>
                        {% if server.wol_schedules.all %}
                            <div class="spacer" style="height: .5rem;"></div>
                            {% for schedule in server.wol_schedules.all %}
                                <a href="/edit/schedule/{{ schedule.id }}" style="text-decoration: none; color: inherit;">
                                    <div>
                                        {% if schedule.repeat %}
                                            <i class="fas fa-sync"></i>
                                        {% else %}
                                            <i class="fas fa-clock"></i>
                                        {% endif %}
                                        {% if schedule.enabled %}
                                            <i class="fas fa-check" style="color: green;"></i>
                                        {% else %}
                                            <i class="fas fa-xmark" style="color: red;"></i>
                                        {% endif %}
                                        <span class="spacer" style="margin-right: .25rem;"></span>
                                        {{ schedule.type }}
                                        {% if schedule.repeat %}
                                            {{ schedule.repeat_type }}
                                            {% if schedule.repeat_type == 'daily' %}
                                                at {{ schedule.schedule_time|date:"H:i" }}
                                            {% elif schedule.repeat_type == 'weekly' %}
                                                {{ schedule.schedule_time|date:"H:i" }} on {{ schedule.schedule_time|date:"l" }}
                                            {% elif schedule.repeat_type == 'monthly' %}
                                                {{ schedule.schedule_time|date:"H:i" }} on the {{ schedule.schedule_time.day }}th
                                            {% else %}
                                                {{ schedule.schedule_time }}
                                            {% endif %}
                                        {% else %}
                                            {{ schedule.schedule_time }}
                                        {% endif %}
                                    </div>
                                    <div class="soft">
                                        {% if schedule.note %}
                                            {{ schedule.note }}
                                        {% else %}
                                            No note defined.
                                        {% endif %}
                                    </div>
                                </a>
                                <div class="spacer" style="height: .5rem;"></div>
                            {% endfor %}
                        {% else %}
                            <div class="soft">No schedules defined.</div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <div>
            <b style="color: #666;">No servers were found.</b>
            <div class="soft">There are no servers associated with this user.</div>
        </div>
    {% endif %}
