    <div>
        <span class="mobile-wrap">
            <h2 style="margin-bottom: 0;">
                {% if wiki %}
                    {{ wiki.title }}
                {% else %}
                    Wiki
                {% endif %}
            </h2>
            <div class="spacer" style="height: 0.25rem;"></div>
            <span style="margin: auto 0 0 auto;">
                {% with homelab_id=homelab.id|stringformat:'s' %}
                    {% include 'html_components/inline_button.html' with label='Maintenance' fa_icon='fa-wrench' href='/maintenance/'|add:homelab_id %}
                {% endwith %}
            </span>
            <div style="width: 1rem;"></div>
            <span style="margin: auto 0 0 0;">
                {% if wiki %}
                    {% with wiki_id=wiki.id|stringformat:'s' %}
                        {% include 'html_components/inline_button.html' with label='Edit' fa_icon='fa-pen-to-square' href='/edit/wiki/'|add:wiki_id %}
                    {% endwith %}
                {% else %}
                    {% with homelab_id=homelab.id|stringformat:'s' %}
                        {% include 'html_components/inline_button.html' with label='Wiki' fa_icon='fa-plus' href='/create/wiki/'|add:homelab_id %}
                    {% endwith %}
                {% endif %}
            </span>
        </span>
    </div>
    {% if wiki %}
        <div class="soft">{{ wiki.description|safe }}</div>
        <div class="spacer" style="height: 0.5rem;"></div>
        <div class="tile-display">
        {% if wiki.show_services %}
            <div class="tile">
                <div style="display: flex;">
                    <div>
                        <h3 style="display: flex;">
                            Services
                        </h3>
                    </div>
                </div>
                <div class="spacer"></div>
                <div style="border-top: 1px solid #ccc;"></div>
                <div class="spacer"></div>
                {% for server in servers %}
                    {% for service in server.services.all %}
                        <div>
                            <a href="
                                {% if 'http' in service.url and service.url %}
                                    {{ service.url }}
                                {% elif service.url %}
                                    http://{{ service.url }}
                                {% else %}
                                    #
                                {% endif %}"
                                {% if service.url %}target="_blank"{% endif %}
                               style="text-decoration: none; color: inherit; display: flex;">
                                {% if api_key %}
                                    <div class="indicator-dot loading-dot" id="service_{{ service.id }}" style="margin-left: 0;">
                                        &nbsp;
                                    </div>
                                    <script>
                                        check_online("/is_online/{{ api_key }}/{{ service.id }}/0/", "service_{{ service.id }}");
                                    </script>
                                {% else %}
                                    {% if service.is_online == True %}
                                        <div class="indicator-dot success-dot" style="margin-left: 0;">&nbsp;</div>
                                    {% elif not service.is_online %}
                                        <div class="indicator-dot error-dot" style="margin-left: 0;">&nbsp;</div>
                                    {% else %}
                                        <div class="indicator-dot warning-dot tooltip" style="margin-left: 0;">
                                            &nbsp;
                                            <span class="tooltiptext">{{ service.is_online }}</span>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                {% if service.icon_url %}
                                    <img src="{{ service.icon_url }}" style="width: 1rem; height: 1rem; margin: auto 0 auto .5rem;">
                                {% else %}
                                    <i class="fas fa-plug" style="width: 1rem; height: 1rem; margin: auto 0 auto .5rem;"></i>
                                {% endif %}
                                <div class="spacer" style="width: 0.5rem;"></div>
                                {{ service.name }}
                            </a>
                        </div>
                    {% endfor %}    
                {% endfor %}
            </div>
        {% endif %}
        {% if wiki.show_servers %}
            <div class="tile">
                <div style="display: flex;">
                    <div>
                        <h3 style="display: flex;">
                            Servers
                        </h3>
                    </div>
                </div>
                <div class="spacer"></div>
                <div style="border-top: 1px solid #ccc;"></div>
                <div class="spacer"></div>
                {% for server in servers %}
                    <div style="display: flex;">
                        {% if api_key %}
                            <div class="indicator-dot loading-dot" id="server_{{ server.id }}" style="margin-left: 0;">
                                &nbsp;
                            </div>
                            <script>
                                check_online("/is_online/{{ api_key }}/0/{{ server.id }}/", "server_{{ server.id }}");
                            </script>
                        {% else %}
                            {% if server.is_online %}
                                <div class="indicator-dot success-dot" style="margin-left: 0;">&nbsp;</div>
                            {% else %}
                                <div class="indicator-dot error-dot" style="margin-left: 0;">&nbsp;</div>
                            {% endif %}
                        {% endif %}
                        <div class="spacer" style="width: 0.5rem;"></div>
                        {{ server.name }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if wiki.pinned_servers.all %}
            {% for server in wiki.pinned_servers.all %}
                <div class="tile">
                    <div style="display: flex;">
                        <div>
                            <h3 style="display: flex;">
                                {{ server.name }}
                                {% if api_key %}
                                    <div class="indicator-dot loading-dot" id="server__{{ server.id }}" style="font-weight: normal; font-size: initial;">
                                        &nbsp;
                                    </div>
                                    <script>
                                        check_online("/is_online/{{ api_key }}/0/{{ server.id }}/", "server__{{ server.id }}");
                                    </script>
                                {% else %}
                                    {% if server.is_online %}
                                        <div class="indicator-dot success-dot">&nbsp;</div>
                                    {% else %}
                                        <div class="indicator-dot error-dot">&nbsp;</div>
                                    {% endif %}
                                {% endif %}
                            </h3>
                        </div>
                    </div>
                    <div class="spacer"></div>
                    <div style="border-top: 1px solid #ccc;"></div>
                    <div class="spacer"></div>
                    {% if server.mac_address %}
                        {% with server_id=server.id|stringformat:'s' %}
                            {% include 'html_components/inline_button.html' with label='Wake' fa_icon='fa-bolt' href='/wake/'|add:server_id %}
                        {% endwith %}
                    {% else %}
                        {% include 'html_components/inline_button.html' with label='Wake' fa_icon='fa-bolt' href='' %}
                    {% endif %}
                    {% if server.shutdown_url.all %}
                        {% with server_id=server.id|stringformat:'s' %}
                            {% include 'html_components/inline_button.html' with label='Shutdown' fa_icon='fa-power-off' href='/shutdown/'|add:server_id %}
                        {% endwith %}
                    {% else %}
                        {% include 'html_components/inline_button.html' with label='Shutdown' fa_icon='fa-power-off' href='' %}
                    {% endif %}
                    {% with server_id=server.id|stringformat:'s' %}
                        {% include 'html_components/inline_button.html' with label='Edit' fa_icon='fa-pen-to-square' href='/edit/server/'|add:server_id %}
                    {% endwith %}
                </div>
            {% endfor %}
        {% endif %}
        {% if wiki.public %}
            <div class="tile">
                <div style="display: flex;">
                    <div>
                        <h3 style="display: flex;">
                            Public Wiki
                        </h3>
                    </div>
                </div>
                <div class="spacer"></div>
                <div style="border-top: 1px solid #ccc;"></div>
                <div class="spacer"></div>
                {% with wiki_id=wiki.id|stringformat:'s' %}
                    {% include 'html_components/inline_button.html' with label='Open' fa_icon='fa-arrow-up-right-from-square' href='/pwiki/'|add:wiki_id %}
                    This wiki is set to be available public. <span class="soft">via <u>{{ '/pwiki/'|add:wiki_id }}</u></span>
                {% endwith %}
            </div>
        {% endif %}
        </div>
    {% else %}
        <div>
            <b style="color: #666;">No wiki was found.</b>
            <div class="soft">There is no wiki associated with this user.</div>
        </div>
    {% endif %}
