:root {
    --header-background-color: #efefef50;
    --background-color: #fff;
    --border-color: #ccc;
    --font-color: #000;
    --button-color: #fff;
    --button-color-hover: #444;
    --submit-button-color: #000;
    --submit-font-color: #fff;
    --message-info-background-color: #efefef;
    --message-error-background-color: #ffe5e5;
    --disabled-font-color: #555;
    --soft-background-color: #f8f8f8;
}

/* Dark mode: add 'dark' class to <html> */
html.dark {
    --header-background-color: #2e2e2e50;
    --background-color: #1b1b1b;
    --border-color: #383838;
    --font-color: #e0e0e0;
    --button-color: #383838;
    --submit-button-color: #d9d9d9;
    --submit-font-color: #000;
    --message-info-background-color: #999898;
    --message-error-background-color: #5e1414;
    --disabled-font-color: #ccc;
    --soft-background-color: #2e2e2e;
}

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--font-color);
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--background-color);
}

html {
    scroll-behavior: smooth;
}

.header, .main, .footer {
    padding-left: 1rem;
    width: calc(100vw - 1rem);
}

.header {
    border-bottom: 1px solid var(--border-color);
    display: flex;
    background-color: var(--header-background-color);
    position: fixed;
    height: 5.5rem;
    z-index: 1;
    backdrop-filter: blur(2px);
}

.main {
    min-height: calc(100vh - (5.5rem + 5.5rem));
    margin-top: 5.5rem;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
}

.footer {
    min-height: 5.5rem;
    border-top: 1px solid var(--border-color);
    background-color: var(--header-background-color);
    width: -moz-available;
    padding-top: .7rem;
    padding-bottom: .7rem;
}

.header .menu {
    margin: auto 2rem auto 1rem;
    width: max-content;
    display: flex;
}

a {
    margin: 0;
    text-decoration: none;
    color: inherit;
}

.login {
    width: 30vw;
    display: block;
    margin: auto;
}

.spacer {
    height: 1rem;
}

.hidden {
    display: none !important;
}

.no {
    cursor: not-allowed;
    filter: opacity(50%);
}

.no:hover {
    background-color: #ff5050 !important;
}

.tile-display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: .5rem;
    /*margin: 1rem 1rem 0 auto;*/
}

.tile {
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: .5rem;
}

.log-area {
    width: 100%;
    height: 10rem;
    resize: vertical;
    overflow: auto;
    font-family: monospace;
    background-color: var(--soft-background-color);
    border: 1px solid var(--border-color);
    border-radius: 1rem;
}

.mobile-wrap {
    display: flex;
}

/* Disable showing strange radio buttons in safari*/
#id_usable_password {
    display: none;
}
