:root {
    --success-color: #4CAF50;
    --error-color: #f44336;
    --info-color: #2196F3;
    --warning-color: orange;
    --unknown-color: #9E9E9E;
}

.indicator-dot {
    margin: auto 0 auto .25rem;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    display: inline-block;
}

.indicator-dot.loading-dot {
    background-color: #ccc;
    animation: highlight 1s infinite;
}

.indicator-dot.success-dot {
    background-color: var(--success-color);
}
.indicator-dot.error-dot {
    background-color: var(--error-color);
}
.indicator-dot.info-dot {
    background-color: var(--info-color);
}
.indicator-dot.warning-dot {
    background-color: var(--warning-color);
}
.indicator-dot.unknown-dot {
    background-color: var(--unknown-color);
}
