.indicator-dot {
    margin: auto 0 auto .25rem;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    display: inline-block;
}

.indicator-dot.loading-dot {
    background-color: #ccc;
    animation: highlight 1s infinite;
}

.indicator-dot.success-dot {
    background-color: #4CAF50;
}
.indicator-dot.error-dot {
    background-color: #f44336;
}
.indicator-dot.info-dot {
    background-color: #2196F3;
}
.indicator-dot.warning-dot {
    background-color: #f0c800;
}
.indicator-dot.unknown-dot {
    background-color: #9E9E9E;
}
