input, .input, textarea {
    border: none;
    border-radius: 0.5rem;
    padding: 0.25rem;
    width: 100%;
    margin: .25rem 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-decoration: none;
    height: 2rem;
}

textarea {
    min-height: 5rem;
}

select {
    border: none;
    border-radius: 0.5rem;
    padding: 0.25rem;
    width: 100%;
    margin: .25rem 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-decoration: none;
    height: 2rem;
}

input[type=checkbox] {
    width: auto;
    margin: auto auto auto 0;
    height: auto;
}

input[type=submit], .button {
    border: none;
    border-radius: 0.5rem;
    padding: 0.25rem;
    width: 100%;
    margin: .25rem 0;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    height: 2rem;
    cursor: pointer;
    background-color: var(--button-color);
    color: #efefef;
    text-align: center;
    align-content: center;
    min-width: max-content;
}

input[type=submit]:hover, .button:hover {
    background-color: var(--button-color-hover);
}

.inline-button {
    text-align: center;
    height: unset;
    /*max-width: 10rem;*/
    color: black;
    border: 1px solid black !important;
    /*background-color: white; *//* Too neo-brutalistic for now... might be something for the future*/
}