<style>
.custom-checkbox-label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: .25rem;
}

.custom-checkbox {
    width: 1rem;
    height: 1rem;
    border: 1px solid #000;
    border-radius: 4px;
    margin-right: 8px;
    background: var(--submit-font-color);
    display: inline-block;
    position: relative;
}

.custom-checkbox-label input[type="checkbox"]:checked + .custom-checkbox {
    background: var(--submit-button-color);
    border-color: var(--submit-button-color);
}

.custom-checkbox-label input[type="checkbox"]:checked + .custom-checkbox::after {
    content: '';
    position: absolute;
    left: .32rem;
    top: .1rem;
    width: .25rem;
    height: .5rem;
    border: solid var(--submit-font-color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
</style>

<label class="tile custom-checkbox-label" for="{{ widget.attrs.id }}">
    <input  type="checkbox"
            name="{{ widget.name }}"
            id="{{ widget.attrs.id }}"
            {% if widget.value %} checked{% endif %}
            style="display: none;"
            {% include "django/forms/widgets/attrs.html" %}>
    <span class="custom-checkbox"></span>
    <span class="soft" style="margin: 0 auto auto 0;">{{ widget.label }}</span>
</label>
