{% extends 'html/base.html' %}

{% block content %}
    <div class="login" style="width: 50vw; display: block; margin: auto;">
        <div style="display: flex;">
            <h2>
                {% if form_title %}
                    {{ form_title }}
                {% else %}
                    Form
                {% endif %}
            </h2>
            {% if show_delete_option %}
                <div style="margin: auto 0 auto auto;">
                    {% include 'html_components/inline_button.html' with label='Delete' fa_icon='fa-trash-can' confirm=True redirect_url_confirmed=delete_url_confirmed title=delete_title message=delete_message redirect_url_declined=delete_url_declined %}
                </div>
            {% endif %}
        </div>
        {% if additional_information %}
            {% for field in additional_information %}
                <div class="tile" style="display: flex; margin-bottom: 1rem;">
                    <div>
                        {% if field.title %}
                            <b>
                                {{ field.title }}
                            </b>
                        {% endif %}
                        {% if field.description %}
                            <div class="soft">
                                {{ field.description }}
                            </div>
                        {% endif %}
                    </div>
                    {% if field.link and field.link_text %}
                        <span style="margin: auto 1rem auto auto;">
                            {% include 'html_components/inline_button.html' with label=field.link_text fa_icon='fa-arrow-up-right-from-square' href=field.link %}
                        </span>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
        {% if form %}
            <form method="post" style="display: grid;">
                {% csrf_token %}
                {% for field in form %}
                    <label class="soft" for="{{ field.id_for_label }}">
                        {{ field.label }}
                        {% if field.help_text %}
                            {{ field.help_text }}
                        {% endif %}
                    </label>
                    {% for error in field.errors %}
                        <div class="message error retain soft">
                            {{ error }}
                        </div>
                    {% endfor %}
                    {{ field }}
                    <div class="spacer" style="height: 0.25rem;"></div>
                {% endfor %}
                <div class="spacer"></div>
                <input type="submit" value="Complete">
                {% if complete_hint %}
                    <div class="soft" style="text-align: center;">
                        {{ complete_hint }}
                    </div>
                {% endif %}
            </form>
        {% endif %}
        <div class="spacer"></div>
    </div>
    <div class="spacer"></div>
{% endblock %}