{% extends 'html/base.html' %}

{% if app_state %}
    {% block headline %}
        <a href="/" style="text-decoration: none; color: inherit;">System State</a>
    {% endblock %}
    {% block content %}
        <div>
            <span style="display: flex;">
                <h2 style="margin-bottom: 0.25rem;">
                    {% if app_state.state == 'OK' %}
                        <i class="fa-solid fa-heart-circle-check" style="color: green;"></i>
                    {% elif app_state.state == 'Degraded' %}
                        <i class="fa-solid fa-heart-circle-exclamation" style="color: orange;"></i>
                    {% else %}
                        <i class="fa-solid fa-heart-circle-xmark" style="color: red;"></i>
                    {% endif %}
                    System State: {{ app_state.state }}
                </h2>
            </span>
        </div>
        <div class="spacer" style="height: 1rem;"></div>
        <div class="tile">
            <b>Last Cron Execution</b>
            <div>{{ app_state.time_since_last_cron_str }} ago</div>
            <div class="soft">{{ app_state.last_cron|date:"Y-m-d H:i:s" }}</div>
        </div>
        <div class="spacer"></div>
        <div class="tile">
            <b>Exceptions</b>
            <div>
                <textarea style="width: 100%; min-height: 10rem; resize: none; background-color: var(--background-color); color: var(--typography-color); padding: 0.5rem; font-family: monospace;" readonly>{{ app_state.exception|default:"No exceptions recorded." }}</textarea>
            </div>
        </div>
    {% endblock %}
{% else %}
    
{% endif %}
