{% load static %}

<!DOCTYPE html>
{% if user %}
    {% if user.profile %}
        <html lang="en" class="{% if user.profile.dark_mode %}dark{% else %}light{% endif %}">
    {% else %}
        <html lang="en">
    {% endif %}
{% else %}
    <html lang="en">
{% endif %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Homelab Operator{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mobile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/input.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/message.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/typography.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/indicator-dot.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tooltip.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dropdown-menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/diagram.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.6.0/css/all.css">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/homelab-operator.png' %}" >

    <link rel="manifest" href="{% static 'manifest.json' %}">
    <meta name="theme-color" content="#fafafa">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="apple-touch-icon" href="{% static 'img/homelab-operator-512x512.png' %}">
</head>
<body>
    <script src="{% static 'js/check_online.js' %}"></script>
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register("{% static 'js/service-worker.js' %}");
        }
    </script>

    <div class="header">
        <h1 class="headline">
            {% block headline %}
                <a href="/" style="text-decoration: none; color: inherit;">Homelab Operator</a>
            {% endblock %}
        </h1>
        {% if user.is_authenticated %}
            <div class="search" style="margin: auto;">
                <form method="post" action="/search/" style="display: flex;">
                    {% csrf_token %}
                    <i class="fa-solid fa-magnifying-glass fa-1x" style="margin: auto .5rem auto 0; color: var(--typography-soft-color);"></i>
                    <input type="text" name="query" placeholder="Search..." style="width: 30vw;">
                    <div class="info button inline-button" style="margin-left: 0.5rem; width: 2rem; height: 2rem; display: flex;" onclick="this.closest('form').submit();">
                        <div style="display: flex; width: 100%;">
                            <i class="soft fa-solid fa-chevron-right" style="margin: auto .15rem auto .12rem;"></i>
                            <i class="soft fa-solid fa-chevron-right" style="margin: auto auto auto 0;"></i>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
        {% if messages %}
            {% for message in messages %}
                <div class="floating message {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% if user.is_authenticated %}
            <div class="menu">
                <div class="mobile-vanish" style="margin: auto; min-width: max-content;">Welcome <i>{{ user.username }}</i>.</div>
                <div class="spacer" style="width: .5rem;"></div>
                {% if app_state %}
                    {% if app_state.state == 'OK' %}
                        <div>
                            {% include 'html_components/inline_button.html' with fa_icon='fa-heart-circle-check' fa_icon_style='color: green;' href='/app_state' %}
                        </div>
                    {% elif app_state.state == 'Degraded' %}
                        <div>
                            {% include 'html_components/inline_button.html' with label=app_state.state fa_icon='fa-heart-circle-exclamation' fa_icon_style='color: red;' href='/app_state' %}
                        </div>
                    {% else %}
                        <div>
                            {% include 'html_components/inline_button.html' with label=app_state.state fa_icon='fa-heart-circle-xmark' fa_icon_style='color: orange;' href='/app_state' %}
                        </div>
                    {% endif %}
                {% else %}
                    <div>
                        {% include 'html_components/inline_button.html' with fa_icon='fa-heart-circle-xmark' fa_icon_style='color: orange;' href='/app_state' %}
                    </div>
                {% endif %}
                <div class="spacer" style="width: .5rem;"></div>
                <div>
                    {% include 'html_components/inline_button.html' with fa_icon='fa-arrows-rotate' href='/' %}
                </div>
                <div class="spacer" style="width: .5rem;"></div>
                <div>
                    {% include 'html_components/inline_button.html' with label='Profile' fa_icon='fa-user' href='/edit/profile' %}
                </div>
                <div class="spacer" style="width: .5rem;"></div>
                <div>
                    {% include 'html_components/inline_button.html' with label='Logout' fa_icon='fa-right-from-bracket' href='/logout' %}
                </div>
            </div>
        {% endif %}
    </div>
    <div class="main">
        {% block content %}{% endblock %}
        <div class="spacer"></div>
    </div>
    <div class="footer">
        <div>
            <a class="soft" href="https://github.com/flemk/homelab-operator" target="_blank">GitHub</a>
        </div>
        <div class="spacer" style="height: 0.15rem;"></div>
        <div class="soft">&copy; 2024 Franz Ludwig Kostelezky (info@kostelezky.com)</div>
        <div class="soft">Version reference: %HOMELAB_OPERATOR_VERSION%</div>
        <div class="soft">Server Time: {% now "Y-m-d H:i:s T" %}</div>
    </div>
</body>
</html>
