{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Homelab Operator{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'tooltip.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dropdown-menu.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.6.0/css/all.css">
</head>
<body>

    <div class="header">
        <h1 class="headline">
            {% block headline %}Homelab Operator{% endblock %}
        </h1>
        {% if user.is_authenticated %}
            <div class="no" style="margin: auto;">
                <i class="fas fa-search soft" style="margin-right: 0.15rem;"></i>
                <input type="text" placeholder="Search..." style="width: 30vw;">
            </div>
        {% endif %}
        {% if messages %}
            {% for message in messages %}
                <div class="floating message {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% if user.is_authenticated %}
            <div style="margin: auto 2rem auto 1rem; width: max-content; display: flex;">
                <div style="margin: auto; min-width: max-content;">Welcome <i>{{ user.username }}</i>.</div>
                <div class="spacer" style="width: 2rem;"></div>
                {% include 'html_components/inline_button.html' with label='Logout' fa_icon='fa-right-from-bracket' href='/logout' %}
                <div class="spacer" style="width: 2rem;"></div>
                {% include 'html_components/inline_button.html' with label='Profile' fa_icon='fa-user' href='/edit/profile' %}
            </div>
        {% endif %}
        
    </div>
    <div class="main">
        {% block content %}{% endblock %}
        <div class="spacer"></div>
    </div>
    <div class="footer">
        <div>
            <a class="soft" href="https://github.com/flemk/homelab-operator" target="_blank">GitHub</a>
        </div>
        <div class="spacer" style="height: 0.15rem;"></div>
        <div class="soft">&copy; 2024 Franz Ludwig Kostelezky (info@kostelezky.com)</div>
        <div class="soft">Version reference: %HOMELAB_OPERATOR_VERSION%</div>
        <div class="soft">Server Time: {% now "Y-m-d H:i:s T" %}</div>
        <div class="spacer" style="height: 0.15rem;"></div>
    </div>
</body>
</html>