{% extends 'html/base.html' %}

{% block content %}
    <div style="width: min-content;">
        <span style="display: flex;">
            <h2>Servers</h2>
            <div style="width: 2rem;"></div>
            <span style="margin: auto;">
                {% with project_id=project.id|stringformat:'s' %}
                    {% include 'html_components/inline_button.html' with label='Add Server' fa_icon='fa-plus' href='/create/server/' %}
                {% endwith %}
            </span>
            <div class="spacer" style="height: 0; width: 1rem;"></div>
        </span>
    </div>
    {% if servers %}
        {% for server in servers %}
            <div class="tile" style="display: grid; margin-bottom: 1rem;">
                <div>
                    <h3 style="display: flex;">
                        {{ server.name }}
                        {% if server.is_online %}
                            <div style="margin: auto 0 auto .25rem; border-radius: 50%; background-color: #4CAF50; width: 1rem; height: 1rem;">&nbsp;</div>
                        {% else %}
                            <div style="margin: auto 0 auto .25rem; border-radius: 50%; background-color: #f44336; width: 1rem; height: 1rem;">&nbsp;</div>
                        {% endif %}
                    </h3>
                    <div class="soft">{{ server.note }}</div>
                    <div style="margin: 1rem auto .25rem auto;">IP Address: {{ server.ip_address }}</div>
                    <div style="margin-bottom: 1rem;">MAC Address: {{ server.mac_address }}</div>
                </div>
                <div style="width: min-content;">
                    <span style="display: flex;">
                        <span style="margin: auto;">
                            {% with server_id=server.id|stringformat:'s' %}
                                {% include 'html_components/inline_button.html' with label='Wake' fa_icon='fa-power-off' href='/wake/'|add:server_id %}
                            {% endwith %}
                        </span>
                        <div style="width: 1rem;"></div>
                        <span style="margin: auto;">
                            {% with project_id=project.id|stringformat:'s' %}
                                {% include 'html_components/inline_button.html' with label='Shutdown' fa_icon='fa-pen-to-square' href='/'|add:project_id|add:'/customer/edit/'|add:server.id|stringformat:'s' %}
                            {% endwith %}
                        </span>
                        <div style="width: 1rem;"></div>
                        <span style="margin: auto;">
                            {% with server_id=server.id|stringformat:'s' %}
                                {% include 'html_components/inline_button.html' with label='Edit' fa_icon='fa-pen-to-square' href='/edit/server/'|add:server_id %}
                            {% endwith %}
                        </span>
                    </span>
                </div>
                <div class="spacer"></div>
                <div style="border-top: 1px solid #ccc;"></div>
                <div class="spacer"></div>
                <b>Services</b>
                <div>
                    {% if server.services %}
                        {% for service in server.services.all %}
                            <div>{{ service.name }}</div>
                        {% endfor %}
                    {% else %}
                        <div class="soft">No services found.</div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div>
            <h3>No servers were found.</h3>
            <div>There are no servers associated with this user.</div>
        </div>
    {% endif %}
{% endblock %}