{% extends 'html/base.html' %}

{% block content %}
    <div class="login">
        <span style="display: flex;">
            <h2>Login</h2>
        </span>
        {% if login_error %}
            <div class="message error soft">{{ login_error }}</div>
        {% endif %}
        <form method="post" style="display: grid;">
            {% csrf_token %}
            <input type="text"  name="username" id="username" placeholder="Username">
            <input type="password" name="password" id="password" placeholder="Password">
            <input type="submit" value="Login">
        </form>
    </div>
    <div class="spacer"></div>
    {% if public_wikis %}
        <div class="login">
            <h2>Explore these Public Wikis!</h2>
            <div style="margin-left: 1rem;">
                {% for wiki in public_wikis %}
                    <div style="margin-bottom: .5rem;">
                        <a href="/pwiki/{{ wiki.id }}">
                            <b>{{ wiki.title }}</b>
                            <div class="soft">{{ wiki.description }}</div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
