{% extends 'html/base.html' %}

{% block headline %}
    <a href="/" style="text-decoration: none; color: inherit;">Maintenance</a>
{% endblock %}

{% block content %}
    <div>
        <span class="mobile-wrap">
            <h2 style="margin-bottom: 0.25rem;">
                Maintenance
            </h2>
            <div style="margin: auto 0 0 auto;">
                {% with homelab_id=homelab.id|stringformat:'s' %}
                    {% include 'html_components/inline_button.html' with label='Maintenance Plan' fa_icon='fa-plus' href='/create/maintenance/'|add:homelab_id %}
                {% endwith %}
            </div>
        </span>
    </div>
    <div class="tile">
        <b>
            <i class="fa-solid fa-asterisk"></i>
            Upcoming Maintenance Plans
        </b>
        <div>
            {% if maintenance_plans_upcoming %}
                {% for plan in maintenance_plans_upcoming %}
                    {{ plan.title }} on {{ plan.scheduled_date|date:"Y-m-d" }} ({{ plan.content_type}})
                {% endfor %}
            {% else %}
                <div>No maintenance plans.</div>
            {% endif %}
        </div>
    </div>
    <div class="spacer"></div>
    <div class="tile">
        <b>
            <i class="fa-solid fa-file"></i>
            Past Maintenance Plans
        </b>
        <div>
            {% if maintenance_plans_past %}
                {% for plan in maintenance_plans_past %}
                    <a href="">{{ plan.title }}</a> - {{ plan.scheduled_date|date:"Y-m-d H:i:s" }}
                    <i class="fa-solid fa-file"></i>
                {% endfor %}
            {% else %}
                <div>No maintenance plans.</div>
            {% endif %}
        </div>
    </div>
{% endblock%}
